@import 'base';

.cartouche {
  display: grid;
  grid-template-rows: auto 56px;
  grid-template-columns: 71px auto;

  width: min-content;

  .profile {
    border-radius: 10px;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .logo {
    grid-column: 1;
    grid-row: 2;
    border-radius: 0 0 0 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    align-self: stretch;
    justify-self: stretch;
  }

  .name {
    grid-column: 2;
    grid-row: 2;
    border-radius: 0 0 10px 0;
    color: white;
  }

  .logo, .name {
    background-color: rgba(0,0,0,0.90);
    margin: 0;
  }
}

.text {
  align-self: center;

  p {
    color: white;
  }

  * {
    font-size: 36px;
    font-weight: lighter;
  }
}

@media screen and (min-width: 900px) {
  .main-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .presentation {
    display: grid;
    grid-template-columns: min-content 400px;
    column-gap: 60px;
  }
}

@media screen and (max-width: 899px) {
  .main-page {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%,0);
  }

  .presentation {
    display: grid;
    grid-template-columns: min-content;
    row-gap: 20px;

    .text {
      * {
        font-size: 24px;
      }

      p {
        padding-left: 24px;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .cartouche {
    grid-template-rows: auto 84px;
    grid-template-columns: 126px auto;
    width: min-content;

    .profile {
      height: 400px;
      width: 400px;
    }

    .name {
      font-size: 28px;
    }

    .logo img {
      width: 46px;
      height: 46px;
    }
  }
}

@media screen and (max-width: 480px) {
  .main-page {
    top: 60px;
  }

  .presentation {
    justify-items: center;

    .text * {
      font-size: 18px;
    }
  }
}
