@import 'base';

body {
  padding: unset;
}

article.blog-post {
  --header-offset: 6rem;
  --side-panel-width: 30ch;

  display: grid;
  grid-column-gap: 1em;

  margin-bottom: 4em;

  grid-template-columns: [full-start] 1fr [left-gutter-start wide-header-start wide-start title-start] 1em [left-gutter-end header-start content-start] calc(min(65ch, calc(100% - var(--side-panel-width) - 3em))) [title-end content-end right-gutter-start] 1em [right-gutter-end wide-end] 1em [side-panel-start] var(--side-panel-width) [start-panel-end wide-header-end header-end] 1fr [full-end];
  grid-template-rows: repeat(3, max-content) [main-start] repeat(1000, max-content) [main-end];

  > * {
    grid-column: content;
    display: block;
  }

  > .announce {
    grid-column: wide;
    border: 1px solid #FFD43BCC;
    border-radius: 8px;
    color: white;
    background: #FFD43B22;
    padding: 0.2em 1em;
    margin-top: 1em;
  }

  > .disclaimer {
    padding-left: unset;
    grid-column: wide;
    display: grid;
    grid-template-columns: subgrid;
    &::before {
      content: "";
      border-right: 1px solid #FFD43BCC;
      height: 100%;
      display: block;
    }
    &::after {
      content: "";
      border-left: 1px solid #FFD43BCC;
      height: 100%;
      display: block;
    }

    &:hover {
      > div {
        border-right-width: 2px;
      }
      &::after {
        border-left-width: 2px;
      }
    }

    margin-block: 10px;
    > p {
      margin-block: 5px;
    }
  }

  > .key-point {
    grid-column: wide;
    display: grid;
    grid-template-columns: subgrid;
    > * {
      grid-column: content;
    }

    background: #FFD43Bcc;
    &:hover {
      background: #FFD43Bee;
    }
    * {
      color: black;
    }

    margin-block: 1em;
    padding-block: 1em;
    border-radius: 5px;
    > p {
      margin-block: 5px;
    }
  }

  div.footer {
    display: none;
  }

  > .side-panel {
    grid-column: side-panel;
    grid-row: main;
    font-size: 0.9em;
    max-width: var(--side-panel-width);
    h3 {
      margin-block: 10px;
    }
    hr {
      margin-block: 2em;
    }
    p {
      margin-block: 1em;
    }
    > div {
      position: sticky;
      top: var(--header-offset);
    }
    div.block {
      --block-spacing: 1.5em;
      padding-top: var(--block-spacing);
      margin-top: var(--block-spacing);
      border-top: 1px solid grey;
    }
    div.block:first-child {
      border-top: revert;
      margin-top: revert;
      padding-top: revert;
    }
  }

  aside + h2,
  aside + h3,
  aside + ul,
  aside + ol,
  aside + p {
    margin-top: 10px;
  }

  h2, h3 {
    text-decoration: underline #28455D;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 0.8em;

    a.zola-anchor.zola-anchor {
      text-decoration: none;
      opacity: 0.5;
      &:hover {
        opacity: 0.9;
      }
    }
  }

  .timestamp, .description, .metadata {
    color: darkgray;
    font-size: 12px;
  }

  .metadata {
    display: none;
  }

  h1 {
    font-size: 24px;
  }

  .description {
    grid-column: content;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 16px;
  }

  hr {
    color: #444;
  }

  h1 {
    margin: 32px 0 16px 0;
  }

  img {
    max-width: 100%;
  }

  figure.banner, figure.meme {
    margin: 20px 0;
    grid-column: wide;
    img {
      width: 100%;
      filter: grayscale(0.5);
    }
    &.bright img {
      filter: unset;
    }
    &.compact img {
      aspect-ratio: 16/5;
      object-fit: cover;
    }
  }

  figure.meme {
    display: grid;
    --meme-max-text-size: 1.8em;
    --meme-text-size: calc(clamp(calc(var(--meme-max-text-size) / 2), 5vw, var(--meme-max-text-size)));
    --meme-padding: calc(var(--meme-text-size)/2);
    grid-template-rows: [full-start] var(--meme-padding) [top-start] 1fr [top-end bottom-start] 1fr [bottom-end] var(--meme-padding) [full-end];
    grid-template-columns: [meme-start] 100% [meme-end];
    > * {
      grid-column: meme;
    }
    img {
      grid-row: full;
    }
    .top {
      grid-row: top;
      align-self: start;
    }
    .bottom {
      grid-row: bottom;
      align-self: end;
    }
    .top, .bottom {
      z-index: 5;
      justify-self: center;
      font-weight: bold;
      font-size: var(--meme-text-size);
      text-shadow: 0 0 4px black;
      text-transform: uppercase;
      user-select: none;
    }
  }

  figure.figure {
    grid-column: wide;
    margin-inline: unset;
    display: grid;
    grid-template-columns: subgrid;

    img {
      grid-column: wide;
    }

    margin-block: 2em;

    figcaption {
      grid-column: content;
      font-size: 0.8em;
      margin-inline: 4em;
      margin-block: 1em 0;
      text-align: center;
      p { display: inline; }
    }
  }

  p, ol, ul {
    color: #ccc;
  }

  p {
    margin: 10px 0;
  }

  ol, ul {
    padding-left: 1em;
    margin: 0;
  }

  li > ul {
    padding-left: 0;
  }

  p + ol, p + ul {
    margin-top: -0.4em;
    margin-bottom: 0.4em;
  }

  ol li {
    list-style-type: decimal;
  }
  [id] {
    scroll-margin-top: var(--header-offset);
  }

  hgroup {
    h1 {
      margin: 0;
      grid-column: content;
      display: inline-flex;
      justify-content: space-between;
      a {
        font-size: 12px;
        svg {
          padding-top: 8px;
        }
      }
    }
    display: grid;
    grid-template-columns: subgrid;
    grid-column: wide;
    justify-content: space-between;
    align-items: baseline;

    position:sticky;
    top: 3rem;
    background: #131116;
    z-index: 10;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }

  hgroup::after {
    content: "";
    background: linear-gradient(#131116, #13111600);
    z-index: 20;
    position: absolute;
    bottom: 0;
    margin-bottom: -8px;
    height: 8px;
    width: 100%;
  }

  svg.icon {
    width: 16px;
    height: 16px;
    fill: white;
  }

  nav {
    display: grid;
    grid-template-columns: subgrid;
    padding: 32px 0 20px 0;
    grid-column: wide-header;
    z-index: 10;

    position: sticky;
    top: -16px;
    background: #131116;

    svg.icon {
      padding-top: 3px;
    }

    ul {
      display: inline-flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      gap: 12px;

      li {
        list-style-type: none;
        padding: 0;

        &:nth-child(1)::before {
          content: "";
          margin-right: 0;
        }

        &::before {
          content: ">";
          margin-right: 12px;
        }
      }
    }
  }

  .yt_embed iframe {
    width: 100%;
    min-height: 300px;
    border: none;
  }

  .reading-time {
    grid-column: header;
    font-size: 12px;
    color: darkgray;
    margin-top: 6px;
  }

  .read-more {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: wide-header;
    gap: 16px;
    margin-top: 16px;
    h3 {
      margin-bottom: unset;
    }
    .previous, .next {
      display: grid;
      grid-row: 2;
      grid-template-columns: [left-button-start] 16px [left-button-end content-start] 1fr [content-end right-button-start] 16px [right-button-end];
      gap: 16px;
      min-height: 100px;

      > * {
        grid-row: 1;
      }

      svg {
        padding-top: 3px;
      }

      div {
        grid-column: content;
        display: grid;
        gap: 8px;
        align-content: start;
        > * {
          display: block;
        }
        span {
          color: darkgray;
        }
      }
    }
    .next {
      grid-column: 2;
    }
    .previous {
      grid-column: 1;
    }
    .next > a {
      grid-column: right-button;
    }
    .next svg {
      transform: rotate(0.5turn);
    }
    .previous > a {
      grid-column: left-button;
    }
  }
}

@mixin single-column {
  article.blog-post {
    grid-column-gap: unset;
    margin-bottom: 2em;

    grid-template-rows: unset;
    grid-template-columns: 1fr [full-start] 1em [left-gutter-start wide-header-start wide-start title-start left-gutter-end header-start content-start] calc(min(65ch, calc(100% - 2em))) [title-end content-end right-gutter-start wide-end wide-header-end header-end right-gutter-end] 1em [full-end] 1fr;

    > .side-panel {
      grid-column: content;
      grid-row: unset;
      max-width: unset;
      hr {
        display: none;
      }
      h3 {
        margin-block: 1.5em 0.5em;
      }
      div.block {
        display:none;
      }
      div.block.toc {
        display: block;
        margin-bottom: 1em;
      }
    }

    > .disclaimer {
      display: flex;
      gap: 1em;
    }

    nav {
      display: flex;
      gap: 1rem;
      padding: 1rem 0;
      top: 0;
    }

    .metadata {
      display: revert;
    }

    h1 {
      font-size: 20px;
    }

    h2, h3 {
      display: flex;
      gap: 1rem;
    }

    figure.figure {
      margin-block: 1em;
    }

    div.footer {
      display: revert;
      margin-top: 1em;
      border-top: 1px solid grey;
      padding-top: 0.5em;
    }
  }

  article.blog-post .read-more {
    grid-template-columns: unset;
    gap: 24px 16px;
    .next, .previous {
      min-height: unset;
      grid-column: 1;
      grid-row: unset;
    }
  }

  .key-point {
    padding: 0.5em 1.2em;
  }
}

@media screen and (max-width: 1050px) {
  @include single-column;
}

@media print {
  @include single-column;

  article.blog-post {
    nav, a.zola-anchor, div.read-more {
      display: none;
    }

    figure.meme {
      .top, .bottom {
        /* For some unknown reason, we can't have white text here. */
        color: yellow;
      }
    }

    .key-point {
      padding-inline: 0;
    }
  }
}
