@import 'base';

body {
  padding: unset;
}

article.blog-post {
  --header-offset: 6rem;
  --toc-width: 30ch;

  display: grid;
  grid-template-columns: [full-start] 1fr [left-gutter-start wide-header-start wide-start title-start] 1em [left-gutter-end header-start content-start] calc(min(65ch, calc(100% - 2em))) [title-end content-end right-gutter-start] 1em [wide-end wide-header-end header-end right-gutter-end] 1fr [full-end];
  grid-column-gap: 1em;

  &.with-toc {
    grid-template-columns: [full-start] 1fr [left-gutter-start wide-header-start wide-start title-start] 1em [left-gutter-end header-start content-start] calc(min(65ch, calc(100% - var(--toc-width) - 2em))) [title-end content-end right-gutter-start] 1em [right-gutter-end wide-end side-panel-start] var(--toc-width) [start-panel-end wide-header-end header-end] 1fr [full-end];
    grid-template-rows: repeat(4, max-content) [main-start] repeat(1000, max-content) [main-end];
  }

  > * {
    grid-column: content;
    display: block;
  }

  > .toc {
    grid-column: side-panel;
    grid-row: main;
    font-size: 0.9em;
    max-width: var(--toc-width);
    > div {
      position: sticky;
      top: var(--header-offset);
    }
  }

  h2 {
    text-decoration: underline #28455D;
    grid-column: title;
    display: grid;
    grid-template-columns: subgrid;

    a.zola-anchor.zola-anchor {
      text-decoration: none;
      opacity: 0.5;
      &:hover {
        opacity: 0.9;
      }
    }
  }

  .timestamp, .description {
    color: darkgray;
    font-size: 12px;
  }

  h1 {
    font-size: 24px;
  }

  .description {
    grid-column: content;
    margin-top: 6px;
    font-size: 16px;
  }

  hr {
    color: #444;
  }

  h1 {
    margin: 32px 0 16px 0;
  }

  img {
    max-width: 100%;
  }

  figure.banner {
    margin: 20px 0;
    grid-column: wide;
    object-fit: cover;
    img {
      width: 100%;
      filter: grayscale(0.5);
    }
  }

  p, ol, ul {
    color: #ccc;
  }

  p {
    margin: 10px 0;
  }

  ol, ul {
    padding-left: 1em;
    margin: 0;
  }

  p + ol, p + ul {
    margin-top: -0.4em;
    margin-bottom: 0.4em;
  }

  ol li {
    list-style-type: decimal;
  }
  [id] {
    scroll-margin-top: var(--header-offset);
  }

  hgroup {
    h1 {
      margin: 0;
      grid-column: content;
      display: inline-flex;
      justify-content: space-between;
      a {
        font-size: 12px;
        svg {
          height: 16px;
          width: 16px;
          fill: #ccc;
          padding-top: 8px;
        }
      }
    }
    display: grid;
    grid-template-columns: subgrid;

    grid-column: wide;
    gap: 8px;
    justify-content: space-between;
    align-items: baseline;

    position:sticky;
    top: 3rem; // var(--header-offset);
    background: #131116;
    z-index: 10;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }

  hgroup::after {
    content: "";
    background: linear-gradient(#131116, #13111600);
    z-index: 20;
    position: absolute;
    bottom: 0;
    margin-bottom: -8px;
    height: 8px;
    width: 100%;
  }

  nav {
    display: grid;
    grid-template-columns: subgrid;
    padding: 32px 0 20px 0;
    grid-column: wide-header;
    z-index: 10;

    position: sticky;
    top: -24px;
    background: #131116; // linear-gradient(#131116, #131116 80%, #13111600);

    svg.icon {
      width: 16px;
      height: 16px;
      fill: white;
      padding-top: 3px;
    }

    ul {
      display: inline-flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      gap: 12px;

      li {
        list-style-type: none;
        padding: 0;

        &:nth-child(1)::before {
          content: "";
          margin-right: 0;
        }

        &::before {
          content: ">";
          margin-right: 12px;
        }
      }
    }
  }

  .yt_embed iframe {
    width: 100%;
    min-height: 300px;
    border: none;
  }

  .reading-time {
    grid-column: header;
    font-size: 12px;
    color: darkgray;
    margin-top: 6px;
  }
}

@media screen and (max-width: 1000px) {
  article.blog-post {
    grid-column-gap: unset;
    &.with-toc {
      grid-template-columns: revert;
      grid-template-rows: unset;
      grid-template-columns: 1fr [full-start] 1em [left-gutter-start wide-header-start wide-start title-start left-gutter-end header-start content-start] calc(min(65ch, calc(100% - 2em))) [title-end content-end right-gutter-start wide-end wide-header-end header-end right-gutter-end] 1em [full-end] 1fr;
    }
    > .toc {
      grid-column: content;
      grid-row: unset;
      max-width: unset;
    }

    nav {
      display: flex;
      gap: 1rem;
      padding: 1rem 0;
      top: 0;
    }

    h2 {
      display: flex;
      gap: 1rem;
    }
  }
}
