@import 'base';

article.blog-post {
  margin: 24px 0 0 128px;
  max-width: 540px;

  .timestamp {
    color: darkgray;
  }

  hr {
    color: #444;
  }

  .content {
    margin-top: 30px;

    h1 {
      margin: 32px 0 16px 0;
    }

    img {
      max-width: 100%;
    }

    figure.banner {
      margin: 20px 0;
      img {
        filter: grayscale(0.5);
      }
    }

    p, ol, ul {
      color: #ccc;
      margin: 20px 0;
    }

    ol li {
      list-style-type: decimal;
    }
  }

  hgroup {
    h1, p {
      margin: 0;
    }

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    align-items: baseline;
  }

  nav {
    position: relative;
    left: -40px;
    margin-bottom: 32px;

    svg.icon {
      width: 16px;
      height: 16px;
      fill: white;
      position: relative;
      top: 3px;
      margin-right: 24px;
    }

    ul {
      display: inline-flex;
      margin: 0;
      padding: 0;
      gap: 12px;

      li {
        list-style-type: none;
        padding: 0;

        &:nth-child(1)::before {
          content: "";
          margin-right: 0;
        }

        &::before {
          content: ">";
          margin-right: 12px;
        }
      }
    }
  }

  .yt_embed iframe {
    width: 100%;
    min-height: 300px;
    border: none;
  }

  .reading-time {
    font-size: 14px;
    color: darkgray;
    margin-top: 6px;
  }
}

@media screen and (max-width: 700px) {
  article.blog-post {
    margin: 0;

    hgroup {
      flex-direction: column;
    }

    nav {
      position: static;
      margin-bottom: 16px;

      svg.icon {
        margin-right: 16px;
      }
    }

    .content {
      margin-top: 24px;
    }
  }
}
