body {
  padding: unset;
}

article.section {
  display: grid;
  grid-template-columns: [full-start] 1fr [left-gutter-start wide-header-start] 1em [left-gutter-end content-start] min(65ch, calc(100% - 2em)) [content-end wide-header-end right-gutter-start] 1em [right-gutter-end] 1fr [full-end];
  grid-column-gap: 1em;

  > * {
    grid-column: content;
  }

  nav {
    display: grid;
    grid-template-columns: subgrid;
    padding: 32px 0 20px 0;
    grid-column: wide-header;
    margin-bottom: 16px;
    svg.icon {
      width: 16px;
      height: 16px;
      fill: white;
      position: relative;
      top: 3px;
      margin-right: 16px;
    }

    ul {
      display: inline-flex;
      margin: 0;
      padding: 0;
      gap: 12px;

      li {
        list-style-type: none;
        padding: 0;

        &:nth-child(1)::before {
          content: "";
          margin-right: 0;
        }

        &::before {
          content: ">";
          margin-right: 12px;
        }
      }
    }
  }

  div.content {
    > ul {
      padding-left: 24px;
      margin-top: 0;
      > li {
        margin: 12px 0;
      }
    }
  }

}

@media screen and (max-width: 700px) {
  article.section {
  }
}
