article.section {
  margin: 24px 0 0 128px;
  max-width: 700px;

  nav {
    position: relative;
    left: -40px;
    margin-bottom: 32px;

    svg.icon {
      width: 16px;
      height: 16px;
      fill: white;
      position: relative;
      top: 3px;
      margin-right: 24px;
    }

    ul {
      display: inline-flex;
      margin: 0;
      padding: 0;
      gap: 12px;

      li {
        list-style-type: none;
        padding: 0;

        &:nth-child(1)::before {
          content: "";
          margin-right: 0;
        }

        &::before {
          content: ">";
          margin-right: 12px;
        }
      }
    }
  }

  div.content {
    > ul {
      padding-left: 24px;
      > li {
        margin: 12px 0;
      }
    }
  }

}

@media screen and (max-width: 700px) {
  article.section {
    nav {
      position: static;
      margin-bottom: 16px;

      svg.icon {
        margin-right: 16px;
      }
    }
  }
}
