article.section {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] min(80ch, 100%) [content-end] 1fr [full-end];

  > * {
    grid-column: content;
  }

  nav {
    margin-bottom: 16px;
    svg.icon {
      width: 16px;
      height: 16px;
      fill: white;
      position: relative;
      top: 3px;
      margin-right: 16px;
    }

    ul {
      display: inline-flex;
      margin: 0;
      padding: 0;
      gap: 12px;

      li {
        list-style-type: none;
        padding: 0;

        &:nth-child(1)::before {
          content: "";
          margin-right: 0;
        }

        &::before {
          content: ">";
          margin-right: 12px;
        }
      }
    }
  }

  div.content {
    > ul {
      padding-left: 24px;
      margin-top: 0;
      > li {
        margin: 12px 0;
      }
    }
  }

}

@media screen and (max-width: 700px) {
  article.section {
  }
}
