<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Frédéric Menou aka p'tit fred</title>
    <link rel="icon" href="{{ get_url(path="house-of-lambda.png") }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ get_url(path="style.css") }}" rel="stylesheet">
    <script>
      if (window.location.hostname === "menou.me") {
        window.location.replace("https://frederic.menou.me" + window.location.pathname + window.location.search + window.location.hash);
      }
    </script>
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://menou.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src='//cdn.matomo.cloud/menou.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
  </head>

  <body>
{% block content %}{% endblock %}
    <script type="module" src="{{ get_url(path="index.js") }}"></script>
  </body>
</html>
