{% extends "base.html" %}

{% block header %}
  <style>
    nav {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      gap: 0 12px;
    }

    nav > img {
      align-self: center;
    }

    nav > h1 {
      margin-right: 32px;
    }

    nav > ul.links {
      display: flex;
      flex-wrap: wrap;
      gap: 0 24px;
      margin: 0;
      padding: 0;
    }

    nav > ul.links > li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    nav > div.links > a {
    }

    @media screen and (max-width: 480px) {
    }

  </style>
{% endblock header %}

{% block content %}
    <nav>
      <img height=32 width=32 src="house-of-lambda.png">
      <h1>Frédéric Menou</h1>
      <ul class="links">
        <li><a href="{{ get_url(path="resume.html") }}">Resume</a></li>
        <li><a href="{{ get_url(path="about.html") }}">About me</a></li>
      </ul>
    </nav>

    <section>
      <h2>Short resume</h2>
      <ul>
        <li>Currently unemployed, <span class=highlight>looking for my next gig</span></li>
        <li>CTO and Software Architect at <a href="https://tech.fretlink.com">Fretlink</a> (2016 &mdash; 2022)</li>
        <li>Developer and CTO at <a href="https://fr.wikipedia.org/wiki/Trainline_(Europe)">Captain Train</a> (2012 &mdash; 2016)</li>
        <li>Developer for various companies as a contractor (2007 &mdash; 2012)</li>
        <li data-comment="and I thought my jokes were bad">Joker since the '80s</li>
      </ul>

      More in the <a href="{{ get_url(path="resume.html")}}">detailed version</a>.
    </section>

    <section>
      <h2>Online presence</h2>
      <ul>
        <li><a href="https://twitter.com/ptit_fred">@ptit_fred</a> on twitter</li>
        <li data-comment="really want to contact me?"><a href="mailto:contact@frederic.menou.me">contact@frederic.menou.me</a> by email</li>
      </ul>
    </section>

    <section>
      <h2 data-comment="well, not really publications">Publications</h2>
      <ul>
        <li data-comment="2022"><a href="{{ get_url(path="@/blog/2022-09-30_so-long-fretlink/index.md")}}">So long Fretlink!</a><ul class="tags"><li>blog</li><li>english</li></ul></li>
        <li data-comment="2018"><a target="_blank" href="https://www.youtube.com/playlist?list=PL8INnc2wyTEk5WKaaP8TEipbPT3N4I5sm">Haskell débutant</a> — Playlist introducing to Haskell<ul class="tags"><li>video</li><li>french</li></ul></li>
        <li data-comment="2018"><a target="_blank" href="https://www.youtube.com/playlist?list=PL8INnc2wyTEm1VAIFmEljN4qIf14GB8F4">Haskell avancé</a> — Playlist for more advanced Haskellers<ul class="tags"><li>video</li><li>french</li></ul></li>
        <li data-comment="2018"><a target="_blank" href="https://medium.com/@ptitfred/haskell-and-fp-a83b5b22f67f">Haskell et programmation fonctionnelle, ma conviction</a> — A piece about Functional Programming and Haskell in a business world<ul class="tags"><li>blog</li><li>french</li></ul></li>
        <li data-comment="2017"><a target="_blank" href="https://youtu.be/yKA-hYZa2tQ">Haskell en production en 2017 dans une startup ? Yup.</a> — Conference at ScalaIO 2017 with <a href="https://twitter.com/clementd">Clément Delafargue</a><ul class="tags"><li>video</li><li>french</li></ul></li>
        <li data-comment="2016"><a target="_blank" href="https://medium.com/@ptitfred/diaspora-cc1addb9182b">Diaspora</a> — A piece about leaving a magical group of people and trying to find something new<ul class="tags"><li>blog</li><li>english</li></ul></li>
      </ul>
    </section>
{% endblock content %}
