{% extends "base.html" %}

{% block content %}
    <h1 data-comment="aka p'tit fred"><img height=32 width=32 src="house-of-lambda.png"> Frédéric Menou</h1>

    <section>
      <h2>Short resume</h2>
      <ul>
        <li>Currently unemployed, <span class=highlight>looking for my next gig</span></li>
        <li>CTO and Software Architect at <a href="https://tech.fretlink.com">Fretlink</a> (2016 &mdash; 2022)</li>
        <li>Developer and CTO at <a href="https://fr.wikipedia.org/wiki/Trainline_(Europe)">Captain Train</a> (2012 &mdash; 2016)</li>
        <li>Developer for various companies as a contractor (2007 &mdash; 2012)</li>
        <li data-comment="and I thought my jokes were bad">Joker since the '80s</li>
      </ul>

      More in the <a href="{{ get_url(path="resume.html")}}">detailed version</a>.
    </section>

    <section>
      <h2>Online presence</h2>
      <ul>
        <li><a href="https://twitter.com/ptit_fred">@ptit_fred</a> on twitter</li>
        <li data-comment="really want to contact me?"><a href="mailto:contact@frederic.menou.me">contact@frederic.menou.me</a> by email</li>
      </ul>
    </section>

    <section>
      <h2 data-comment="well, not really publications">Publications</h2>
      <ul>
        <li><span data-comment="2018"><a target="_blank" href="https://www.youtube.com/playlist?list=PL8INnc2wyTEk5WKaaP8TEipbPT3N4I5sm">Haskell débutant</a></span><br/> Series of videos introducing to Haskell, in French.</li>
        <li><span data-comment="2018"><a target="_blank" href="https://www.youtube.com/playlist?list=PL8INnc2wyTEm1VAIFmEljN4qIf14GB8F4">Haskell avancé</a></span><br/> Series of videos for more advanced Haskellers, in French too.</li>
        <li><span data-comment="2018"><a target="_blank" href="https://medium.com/@ptitfred/haskell-and-fp-a83b5b22f67f">Haskell et programmation fonctionnelle, ma conviction</a></span><br/> A piece in French about Functional Programming and Haskell in a business world.</li>
        <li><span data-comment="2017"><a target="_blank" href="https://youtu.be/yKA-hYZa2tQ">Haskell en production en 2017 dans une startup ? Yup.</a></span><br/> Recording of a conference held at ScalaIO 2017 along with <a href="https://twitter.com/clementd">Clément Delafargue</a>, in French.</li>
        <li><span data-comment="2016"><a target="_blank" href="https://medium.com/@ptitfred/diaspora-cc1addb9182b">Diaspora</a></span><br/> A piece in English about leaving a magical group of people and trying to find something new.</li>
      </ul>
    </section>
{% endblock content %}
