{% extends "base.html" %}

{% block header %}
  <link href="{{ get_url(path="section.css", cachebust=true) }}" rel="stylesheet">
{% endblock header %}

{% block content %}
<article class="section">
  <nav>
    <!-- Author: https://www.svgrepo.com/svg/41905/left-arrow -->
    <svg class=icon version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004"
       xml:space="preserve">
      <g>
        <path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757
          c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072
          c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315
          C400.004,190.438,392.251,182.686,382.688,182.686z"/>
      </g>
    </svg>
    <ul>
      {% for ancestor_path in section.ancestors %}
      {% set ancestor = get_section(path=ancestor_path) %}
      <li><a href="{{ ancestor.permalink }}">{{ ancestor.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <h1>{{ section.title }}</h1>
  <div class="content">
    <ul>
    {% for page in section.pages %}
      <li>
        <div class="article-link">
          <a class="title" href="{{ page.permalink | safe }}">{{ page.title }}</a>
          <span class="timestamp">{{ page.date | date(format="%B %e, %Y", timezone="Europe/Berlin") }}</span>
          {% if page.extra.tags %}
          <ul class="tags">
            {% for tag in page.extra.tags %}
            <li>{{ tag }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if page.description %}
          <div class="description">{{ page.description | markdown(inline=true) | safe }}</div>
          {% endif %}
        </div>
      </li>
    {% endfor %}
    {% if section.extra.other_pages %}
    {% for other_page in section.extra.other_pages %}
      <li>
        <div class="article-link">
          <a class="title" target="_blank" href="{{ other_page.permalink | safe }}">{{ other_page.title }}</a>
          <span class="timestamp">{{ other_page.date }}</span>
          {% if other_page.tags %}
          <ul class="tags">
            {% for tag in other_page.tags %}
            <li>{{ tag }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if other_page.description %}
          <div class="description">{{ other_page.description | markdown(inline=true) | safe }}</div>
          {% endif %}
        </div>
      </li>
    {% endfor %}
    {% endif %}
    </ul>
  </div>
</article>
{% endblock content %}
