{% extends "base.html" %}

{% block header %}
{% if term.name == "haskell" %}
<link href="{{ get_url(path="taxonomy/haskell.css", cachebust=true) }}" rel="stylesheet">
{% endif %}
{% endblock header %}

{% block content %}
<h1 class="title">
  {{ term.name | title }}
</h1>
<ul>
  {% for page in term.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% if term.name == "haskell" %}
<figure>
  <img src="{{ get_url(path="kmett-learn-haskell.png") }}">
  <figcaption>&mdash; Edward Kmett (@kmett) <a href="https://twitter.com/kmett/status/1536358971119919107?ref_src=twsrc%5Etfw">June 13, 2022</a></figcaption>
</figure>
{% endif %}
{% endblock content %}
