{% extends "base.html" %}

{% block header %}
  <link href="{{ get_url(path="404.css", cachebust=true) }}" rel="stylesheet">
{% endblock header %}

{% block content %}
  <div class="c404">
    <img class="broken-logo" src="{{ get_url(path="house-of-broken.png") }}">
    <div class="excuse-message">
      <p>I'm sorry. It's not you it's me...</p>
      <p>You can browse actual content <a href="{{ get_url(path="/") }}">here</a>.</p>
    </div>
    <span class="http-code">404</span>
  </div>
{% endblock content %}
