<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} | {{ config.title }}</title>
    <link rel="icon" href="{{ get_url(path="house-of-lambda.png") }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ get_url(path="about.css", cachebust=true) }}" rel="stylesheet">
  </head>

  <body>
    <div class=main-page>
      <div class=presentation>
        <div class="cartouche">
          <img class=profile src={{ get_url(path="profile.jpg") }} height=240 width=240 />
          <div class=logo><img height=32 width=32 src={{ get_url(path="house-of-lambda.png") }} title="House of lambda" /></div>
          <h1 class=name>Frédéric Menou</h1>
        </div>
        <div class=text>
          <p>Functional programmer</p>
          <p>Team builder</p>
          <p>Tech advisor</p>
          <p><a href=mailto:contact@frederic.menou.me>contact@frederic.menou.me</a></p>
        </div>
      </div>
    </div>
    <script type="module" src="{{ get_url(path="index.js") }}"></script>
  </body>
</html>
