<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ config.title }}{% endblock %}</title>
    <link rel="icon" href="{{ get_url(path="house-of-lambda.png") }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ get_url(path="style.css", cachebust=true) }}" rel="stylesheet">
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock %}">
    <meta property="twitter:url" content="{{ config.base_url | safe }}">
    {% if page %}
    {% set content_hash = get_file_hash(path=page.relative_path, sha_type=256) | base64_encode %}
    <meta property="source_hash" content="{{ content_hash }}" >
    <meta property="og:image"  content="/og/{{ content_hash }}.png">
    <meta name="twitter:image" content="/og/{{ content_hash }}.png">
    {% endif %}
    {% if section %}
    {% set content_hash = get_file_hash(path=section.relative_path, sha_type=256) | base64_encode %}
    <meta property="source_hash" content="{{ content_hash }}" >
    <meta property="og:image"  content="/og/{{ content_hash }}.png">
    <meta name="twitter:image" content="/og/{{ content_hash }}.png">
    {% endif %}
    {% block header %}{% endblock %}
  </head>

  <body>
{% block content %}{% endblock %}
    <script type="module" src="{{ get_url(path="index.js") }}"></script>
  </body>
</html>
