{% extends "base.html" %}

{% block header %}
  <meta property="og:title" content="Frédéric Menou" >
  <meta property="og:locale" content="en_GB" >
  <meta property="og:site_name" content="Frédéric Menou's website" >
  <meta property="og:type" content="website" >
  <link href="{{ get_url(path="home.css", cachebust=true) }}" rel="stylesheet">
{% endblock header %}

{% block content %}
    <nav>
      <img height=32 width=32 src="{{ get_url(path="house-of-lambda.png") }}" alt="House of lambda" title="House of lambda">
      <h1>Frédéric Menou</h1>
      <ul class="links">
        {% for page in section.pages %}
        <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    {{ section.content | safe }}

    {% for subsection_path in section.subsections %}
      {% set subsection = get_section(path=subsection_path) %}
      <section>
        <h2>{{ subsection.title }}</h2>
        <ul>
        {% for page in subsection.pages %}
          <li>
            <div class="article-link">
              <a class="title" href="{{ page.permalink | safe }}">{{ page.title }}</a>
              <span class="timestamp">{{ page.date | date(format="%B %e, %Y", timezone="Europe/Berlin") }}</span>
              {% if page.extra.tags %}
              <ul class="tags">
                {% for tag in page.extra.tags %}
                <li>{{ tag }}</li>
                {% endfor %}
              </ul>
              {% endif %}
              {% if page.description %}
              <div class="description">{{ page.description | markdown(inline=true) | safe }}</div>
              {% endif %}
            </div>
          </li>
        {% endfor %}
        {% if subsection.extra.other_pages %}
        {% for other_page in subsection.extra.other_pages %}
          <li>
            <div class="article-link">
              <a class="title" target="_blank" href="{{ other_page.permalink | safe }}">{{ other_page.title }}</a>
              <span class="timestamp">{{ other_page.date }}</span>
              {% if other_page.tags %}
              <ul class="tags">
                {% for tag in other_page.tags %}
                <li>{{ tag }}</li>
                {% endfor %}
              </ul>
              {% endif %}
              {% if other_page.description %}
              <div class="description">{{ other_page.description | markdown(inline=true) | safe }}</div>
              {% endif %}
            </div>
          </li>
        {% endfor %}
        {% endif %}
        </ul>
      </section>
    {% endfor %}
{% endblock content %}
