{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ super() }}{% endblock %}

{% if page.description %}
{% block description %}{{ page.description | markdown(inline=true) | striptags }}{% endblock %}
{% endif %}

{% block header %}
  <link href="{{ get_url(path="blog.css", cachebust=true) }}" rel="stylesheet">
  <meta property="og:title" content="{{ page.title }}" />
  {% if page.description %}
  <meta property="og:description" content="{{ page.description | markdown(inline=true) | striptags }}" />
  {% endif %}
  <meta property="og:locale" content="en_GB" />
  <meta property="og:site_name" content="Frédéric Menou's blog" />
  <meta property="og:type" content="article" />
  <style>
    pre {
      padding: 0.7em;
      overflow: auto;
    }
    /* The line numbers already provide some kind of left/right padding */
    pre[data-linenos] {
      /* padding: 1rem 0; */
    }
    pre table td {
      padding: 0 0.3em;
    }
    /* The line number cells */
    pre table td:nth-of-type(1) {
      text-align: right;
      user-select: none;
      opacity: 0.5;
    }
    pre table td:nth-of-type(2) {
      padding-left: 1em;
    }
    pre mark {
      /* If you want your highlights to take the full width. */
      display: block;
      /* The default background colour of a mark is bright yellow */
      background: unset !important;
      color: yellow;
    }
    pre table {
      width: 100%;
      border-collapse: collapse;
    }
  </style>
{% endblock header %}

{% block content %}
  <article class="blog-post {% if page.toc %} with-toc {% endif %}">
    <nav>
      <!-- Author: https://www.svgrepo.com/svg/41905/left-arrow -->
      <svg class=icon version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004"
         xml:space="preserve">
        <g>
          <path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757
            c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072
            c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315
            C400.004,190.438,392.251,182.686,382.688,182.686z"/>
        </g>
      </svg>
      <ul>
        {% for ancestor_path in page.ancestors %}
        {% set ancestor = get_section(path=ancestor_path) %}
        <li><a href="{{ ancestor.permalink }}">{{ ancestor.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <hgroup>
      <h1 class="title">{{ page.title }}
        <a href="#">
          <svg class=icon version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004"
             xml:space="preserve">
            <g transform="rotate(90 200 200)">
              <path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757
                c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072
                c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315
                C400.004,190.438,392.251,182.686,382.688,182.686z"/>
            </g>
          </svg>
        </a></h1>
    </hgroup>
    {% if page.description %}
    <div class="description">
      {{ page.description | markdown(inline=true) | safe }}
    </div>
    {% endif %}
    <div class="reading-time">
      Initially published on {{ page.date }}
      {% if page.reading_time > 1 %}
        - around {{ page.reading_time }} minutes to read
      {% endif %}
    </div>
    {% if page.toc %}
      <div class="toc">
        <div>
          <p>Table of content:</p>
          <ul>
          {% for h1 in page.toc %}
              <li>
                  <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                  {% if h1.children %}
                      <ul>
                          {% for h2 in h1.children %}
                              <li>
                                  <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                              </li>
                          {% endfor %}
                      </ul>
                  {% endif %}
              </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
    {{ page.content | safe }}
  </article>
{% endblock content %}
