{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ super() }}{% endblock %}

{% if page.description %}
{% block description %}{{ page.description | markdown(inline=true) | striptags }}{% endblock %}
{% endif %}

{% block header %}
  <link href="{{ get_url(path="blog.css", cachebust=true) }}" rel="stylesheet">
  <meta property="og:title" content="{{ page.title }}" />
  {% if page.description %}
  <meta property="og:description" content="{{ page.description | markdown(inline=true) | striptags }}" />
  {% endif %}
  <meta property="og:locale" content="en_GB" />
  <meta property="og:site_name" content="Frédéric Menou's blog" />
  <meta property="og:type" content="article" />
  <style>
    pre {
      padding: 0.7em;
      overflow: auto;
    }
    /* The line numbers already provide some kind of left/right padding */
    pre[data-linenos] {
      /* padding: 1rem 0; */
    }
    pre table td {
      padding: 0 0.3em;
    }
    /* The line number cells */
    pre table td:nth-of-type(1) {
      text-align: right;
      user-select: none;
      opacity: 0.5;
    }
    pre table td:nth-of-type(2) {
      padding-left: 1em;
    }
    pre mark {
      /* If you want your highlights to take the full width. */
      display: block;
      /* The default background colour of a mark is bright yellow */
      background: unset !important;
      color: yellow;
    }
    pre table {
      width: 100%;
      border-collapse: collapse;
    }
  </style>
{% endblock header %}

{% block content %}
  <article class="blog-post">
    <nav>
      <!-- Author: https://www.svgrepo.com/svg/41905/left-arrow -->
      <svg class=icon version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004"
         xml:space="preserve">
        <g>
          <path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757
            c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072
            c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315
            C400.004,190.438,392.251,182.686,382.688,182.686z"/>
        </g>
      </svg>
      <ul>
        {% for ancestor_path in page.ancestors %}
        {% set ancestor = get_section(path=ancestor_path) %}
        <li><a href="{{ ancestor.permalink }}">{{ ancestor.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <hgroup>
      <h1 class="title">{{ page.title }}
        {% if page.reading_time > 1 %}
        <a href="#">
          <svg class=icon version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004"
             xml:space="preserve">
            <g transform="rotate(90 200 200)">
              <path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757
                c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072
                c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315
                C400.004,190.438,392.251,182.686,382.688,182.686z"/>
            </g>
          </svg>
        </a>{% endif %}</h1>
    </hgroup>
    {% if page.description %}
    <div class="description">
      {{ page.description | markdown(inline=true) | safe }}
    </div>
    {% if page.date or page.reading_time > 1 %}
      <p class="metadata">
        {% if page.date %}
          First published on {{ page.date }}.
        {% endif %}
        {% if page.reading_time > 1 %}
          {% if page.date %}<br>{% endif %}
          Around {{ page.reading_time }} minutes to read.
        {% endif %}
      </p>
    {% endif %}
    {% endif %}
    <aside class="side-panel">
      <div>
        {% if page.toc and page.extra.hide_toc is not defined %}
          <div class="block toc">
            <h3>Table of content</h3>
            <ul>
            {% for h1 in page.toc %}
                <li>
                    <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                    {% if h1.children %}
                        <ul>
                            {% for h2 in h1.children %}
                                <li>
                                    <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
          </div>
        {% endif %}
        <div class="block">
          <h3>Frédéric Menou</h3>
          <p>
            Fullstack developer, CTO, DevOps, you name it
          </p>
          <p>
            <a href="https://www.funkythunks.dev/work-with-me" target="_blank">Wanna work with me?</a>
          </p>
        </div>
        {% if page.date or page.reading_time > 1 %}
          <div class="block">
            {% if page.date %}
              <p>
                Initially published on {{ page.date }}.
              </p>
            {% endif %}
            {% if page.reading_time > 1 %}
              <p>
                Around {{ page.reading_time }} minutes to read.
              </p>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </aside>
    {{ page.content | safe }}
    <div class="footer">
      <h3>Frédéric Menou</h3>
      <p>
        Fullstack developer, CTO, DevOps, you name it
      </p>
      <p>
        <a href="https://www.funkythunks.dev/work-with-me" target="_blank">Wanna work with me?</a>
      </p>
    </div>
    {% if page.extra.hide_read_more is not defined %}
      {% if page.lower or page.higher %}
        <div class="read-more">
          <h3>Read more</h3>
          {% if page.higher %}
            <div class="previous">
              <a href="{{page.higher.path}}">
                <svg class=icon version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004"
                   xml:space="preserve">
                  <g>
                    <path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757
                      c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072
                      c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315
                      C400.004,190.438,392.251,182.686,382.688,182.686z"/>
                  </g>
                </svg>
              </a>
              <div>
                <a href="{{page.higher.path}}">{{ page.higher.title }}</a>
                <span>{{ page.higher.description }}</span>
              </div>
            </div>
          {% endif %}
          {% if page.lower %}
            <div class="next">
              <a href="{{page.lower.path}}">
                <svg class=icon version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004"
                   xml:space="preserve">
                  <g>
                    <path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757
                      c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072
                      c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315
                      C400.004,190.438,392.251,182.686,382.688,182.686z"/>
                  </g>
                </svg>
              </a>
              <div>
                <a href="{{page.lower.path}}">{{ page.lower.title }}</a>
                <span>{{ page.lower.description }}</span>
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
  </article>
{% endblock content %}
