/* Palette from https://omatsuri.app/color-shades-generator with darken at +36% and saturation at -34%. */
* {
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: white;
  word-spacing: 1px;
}

pre, code {
  font-size: 12px;
}

code {
  color: #3BC9DB;
}

pre code {
  color: revert;
}

pre {
  padding: 6px;
  overflow: auto;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: white;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  text-decoration: underline #28455D;
}

ul {
  padding-left: 32px;
}

li {
  list-style-type: "-";
  list-style-position: outside;
  padding-left: 16px;
  line-height: 24px;
}

a {
  text-decoration: underline #5C5024;
}

a, a code {
  color: #FFD43B;
}

a:hover {
  color: #FFD43B;
  text-decoration: underline #A78A22;
}

body {
  padding: 20px 40px;
  background: #131116;
}

::selection {
  background-color: #3BC9DB;
  color: #28464A;
}

@media screen and (max-width: 480px) {
  body {
    padding: 10px 20px;
  }
  h2, li, section {
    padding-left: 0;
  }
  section:hover {
    border: none;
    padding-left: 0;
  }

  [data-comment]:hover::after {
    display: none;
  }

  ul {
    padding-left: 16px;
  }
  li {
    padding-left: 16px;
    line-height: unset;
    margin-bottom: 4px;
  }
}
